{% extends "layout.html" %}
{% block title %}PWD Saver{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
{% if user %}
  <h3>Logado {{ user }}</h3>
{% endif %}
  <h1>Teste ABC</h1>
    <!-- Pode ser usado include pra adicionar templates. Combinando com bloco if é possível personalizar melhor o documento -->
  <div class="container">
    <form class="col" action="/{{ user }}/buscar" method="get">
      <input class="btn btn-success" type="submit" value="Buscar">
    </form>
    <form class="col" action="/{{ user }}/criar" method="get">
      <input class="btn btn-success" type="submit" value="Criar">  
    </form>
    <form class="col" action="/{{ user }}/editar" method="get">
      <input class="btn btn-success" type="submit" value="Editar">  
    </form>
  </div>

{% endblock %}
