{% extends "layout.html" %}
{% block title %}PWD Saver{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
{% if user %}
  <h1>Logado {{ user }}</h1>
{% endif %}
  <h1>Teste ABC</h1>
  <p class="important">
    Minha super mega página web.
    <!-- Pode ser usado include pra adicionar templates. Combinando com bloco if é possível personalizar melhor o documento -->
  <div class="container">
    <form class="col" action="/buscar" method="get">
      <input class="btn btn-success" type="submit" id="buscar" name="Buscar" value="buscar">
    </form>
    <form class="col" action="/criar" method="get">
      <input class="btn btn-success" type="submit" id="criar" name="Criar" value="criar">  
    </form>
  </div>

{% endblock %}
